DJANGO_SECRET_KEY="change-me"
DJANGO_DEBUG="true"
DJANGO_ALLOWED_HOSTS="127.0.0.1,localhost,trustdriver.onrender.com"
DJANGO_FRONTEND_ORIGINS="http://127.0.0.1:5173,http://localhost:5173,https://trustdriver.vercel.app"
DATABASE_URL="postgresql://username:password@host/database?sslmode=require&channel_binding=require"
EMAIL_BACKEND="django.core.mail.backends.console.EmailBackend"
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT="587"
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
EMAIL_USE_TLS="true"
DEFAULT_FROM_EMAIL="TrustDriver <noreply@trustdriver.app>"
FRONTEND_APP_URL="https://trustdriver.vercel.app"
